# Ignore local build artifacts and temporary files
# These are not needed inside the Docker image.
# Keeps the image smaller and avoids copying unnecessary local files.

*.pyc
*.pyo
*.pyd
.env
.vscode/
.data/
data/
.git
.gitignore

